html,
body {
  margin: 0;
  padding: 0;
  background-image: url("./images/thumb-1920-694030.jpg");
}

a {
  color: white;
  text-decoration: none;
}

header {
  background-color: rgb(9, 35, 53);
  opacity: .95;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-shrink: 2;
  height: 25vh;
  width: 100vw;
  border-radius: 25px;
}

.logo {
  height: 25vh;
  align-content: center;
}

main {
  width: 100vw;
  height: 80vh;
}

.nav {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: verdana;
  font-size: 5vh;
  clear: left;
  margin: 1vh;
  background: rgb(9, 35, 53);
  color: white;
  height: 20vh;
  width: 15vw;
  border-radius: 25px;
  overflow-x: hidden;

}

.flex-container {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  width: 70vw;
  height: 80vh;
  justify-content: center;
}

.article {
  background: rgb(9, 35, 53);
  color: white;
  margin: 1vh;
  height: 15vh;
  border-radius: 25px;
}



